flask
flask-cors
flask-session
pandas
numpy
scikit-learn
transformers
sentence-transformers
torch
requests
beautifulsoup4
python-dotenv
joblib
langchain
pyspellchecker
langchain_huggingface
langchain_spacy
langchain_transformers
langchain_sentence_transformers
langchain_torch
matplotlib
seaborn
xgboost
polars